.container {
    position: absolute;
    left: 40%;
}

.heading {
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.heading p {
    padding: 20px;
}

.title {
    width: 60%;
    background-color: brown;
    border-radius: 10px;
}